<%- include("partials/header"); -%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img style="height: 4rem"
          src="Screenshot_20230206_211500-removebg-preview (1).png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/sign_in"><i class="icn fa-solid fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><i class="icn fa-regular fa-heart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icn fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icn fa-solid fa-bag-shopping"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Testimonials -->

  <%- include("partials/footer"); -%>