<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Overpass:wght@700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h2><img style="height: 6rem" src="Screenshot_20230206_211500-removebg-preview (1).png"><br>VIRDIC</h2>
    <div class="usr container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h4><b>SIGN UP</b></h4>
                </div>
                <div class="card-body" style="height: max-content;">
                    <form>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="input-group form-group">
                            <input type="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div class="input-group form-group">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="input-group form-group">
                            <input type="password" class="form-control" placeholder="Confirm password">
                        </div>
                        <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>
                        <div class="d-grid gap-2">
                            <button class="btn btn-dark" type="button">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>